            body {
              font-family: 'Oxygen';
            }
            .centerfy img {
                margin: 0 auto;
            }
            .centerfy {
                text-align: center;
            }
            .capFalse {
                display: none;
            }
            .gamestatusFalse {
                display: none;
            }